{% extends 'base.html' %}
{% block title %}Change Password{% endblock title %}
{% block css %}
.header-section{
				position: relative;
				padding:20px 0 20px 0;
				background-color: #333;
			}
.footer-section{
    border-top:none;
}
.activatepwd{
    background:#bd2130 !important;
}
.activatepwd a{
    color:#fff !important;
}
{% endblock css %}

{% block content %}
<div class="container">
    <div class="d-flex justify-content-center align-item-center">
        <div class="col-md-10 shadow-sm p-3 my-3">
            <div class="row">
                {% include 'partials/_sidebar.html' %}
                

                <div class="col-md-9">
                    <div class="row h-100 justify-content-center align-item-center">
                        {% include 'partials/_message.html' %}
                        <div class="card">
                            <div class="card-title">
                                <h3 class="text-center p-3 bg-danger text-white">Change Password</h3>
                            </div>
                            
                            <div class="card-body">
                                <form action="" method="post">
                                    {% csrf_token %}
                                    <div class="form-group my-2">
                                        <label for="old_password">Old Password</label>
                                        {{form.old_password}}
                                    </div>
                                     <div class="form-group my-2">
                                         <label for="new_password1">New Password</label>
                                        {{form.new_password1}}
                                    </div>
                                    <div class="form-group my-2">
                                         <label for="new_password2">Confirm New Password</label>
                                        {{form.new_password2}}
                                    </div>
                                    <div>
                                        <button type="submit" class="btn btn-danger btn-block mt-3">
                                             Change Password
                                        </button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}