{% extends 'base.html' %}
{% load static %}
{% block title %}Home | E-Gurukul{% endblock title %}
{% block css %}

{% endblock css %}
{% block home %}text-danger{% endblock home %}
{% block content %}
    <section class="hero-section set-bg" data-setbg="{%static 'img/bg2.jpg' %}" style="height:100vh;" >
		<div class="container">
			<div class="hero-text text-white">
				<span id="pageoff"></span>
				<h2>Get The Best Free Online Courses</h2>
				
			</div>
			
			<div class="row">
				<div class="col-lg-10 offset-lg-1 text-center">
					<form class="intro-newslatter" action="{% url "search" %}" method="get">
						<input type="text" name="search" placeholder="Search course here..">
						<button type="submit" class="site-btn">Search</button>
					</form>
				</div>
			</div>
		</div>
	</section>
	<!-- Hero section end -->

	
	<!-- categories section -->
	<section class="categories-section spad" id="course_cat">
		<div class="container">
			<div class="section-title">
				<h2>Our Course Categories</h2>
				<hr>
			</div>
			<div class="row">
				<!-- categorie -->
                {% for s in subjects %}
				<div class="col-lg-4 col-md-6">
					<div class="categorie-item shadow">
						<div class="ci-thumb set-bg" data-setbg="{{s.image.url}}"></div>
                        <a href="{% url "course_list_subject" s.slug %}">
						<div class="ci-text">
							<h5>{{s.title}}</h5>
							
							<span>{{s.total_courses}} Courses</span>
						</div>
                        </a>
					</div>
				</div>
                {% endfor %}
				
			</div>
		</div>
	</section>
	<!-- categories section end -->


	


	<!-- course section -->
	<section class="course-section spad">
		<div class="container">
			<div class="section-title mb-0">
				<h2>Latest Courses</h2>
				<hr>
			</div>
		</div>
		<div class="course-warp my-5">                                   
			<div class="row course-items-area">
				<!-- course -->
                {% for lc in latest_course %}
					<div class="col-lg-4 col-md-6">
					<div class="categorie-item shadow">
						<div class="ci-thumb set-bg" data-setbg="{{lc.thumbnail.url}}"></div>
                        <a href="#">
						<div class="ci-text">
							<h5>{{lc.title}}</h5>
							<p>{{lc.overview|slice:"0:100"}}..</p>
							
							<span>Added by <emp>{{lc.owner.username}}<emp></span>
							<p>Registered Student: {{lc.students.count}}</p>
							<hr>
							<a href="{% url "course_detail" lc.slug %}" class="btn btn-danger btn-block">View</a>
							
						</div>
                        </a>
						
					</div>
				</div>
				{% endfor %}
				
			</div>
		</div>
	</section>
	<!-- course section end -->


	<!-- signup section -->
	<section class="signup-section spad">
		<div class="signup-bg set-bg" data-setbg="{% static 'img/signup-bg.jpg'%}"></div>
		<div class="container-fluid">
			<div class="row">
				<div class="col-lg-6">
					<div class="signup-warp">
						<div class="section-title text-white text-left">
							<h2>Sign up to become an Instructor</h2>
							<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec malesuada lorem maximus mauris scelerisque, at rutrum nulla dictum. Ut ac ligula sapien. Suspendisse cursus faucibus finibus.</p>
						</div>
						
						<a href="{% url "became_an_instructor" %}" class="btn py-3 px-5 font-weight-bold" style="background-color:tomato;color:white;">
						Become an Instructor</a>
					</div>
				</div>
			</div>
		</div>
	</section>
{% endblock content %}

{% block domready %}

{% endblock domready %}
