{% if messages %}
<div class="messages">
    {% for message in messages %}
    <div{% if message.tags %} class="alert alert-sm alert-dismissible alert-{{ message.tags }}"{% endif %}>
      {% if form.errors%}
        {% for field in form.errors %}
          
          <strong>{{ er.errors|removetags:"ul li"|safe }}</strong>
         
        {% endfor %}
        
      {% else %}
      <strong>{{ message|striptags }}</strong>
      {% endif %}
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
        </button>
    </div>
    {% endfor %}
</div>
{% endif %}