
<div class="col-md-3 shadow-sm px-3" style="border-right:3px solid red;">
                    <div>
                        <div class="px-4 py-2 my-2 shadow-sm activateprofile" style="background:#fcfcfc;">
                            <a href="{% url 'profile' %}">Profile</a>
                        </div>
                        <div class="px-4 py-2 my-2 shadow-sm activatepwd" style="background:#fcfcfc;">
                            <a href="{% url 'change_password' %}">Change Password</a>
                        </div>
                        <div class="px-4 py-2 my-2 shadow-sm activatecourseinfo" style="background:#fcfcfc;">
                            <a href="{% url 'enrolled_courses' %}">Course Info</a>
                        </div>
                        <div class="px-4 py-2 my-2 shadow-sm activatecert" style="background:#fcfcfc;">
                            <a href="{% url 'certificate' %}">Cerificates</a>
                        </div>
                        
                    </div>
</div>